.w-20 {
    width: 20%;
}

.direct-chat-messages {
    height: 16.5rem;
    padding: 1rem;
}

.direct-chat-text {
    border-radius: 0.3rem;
    margin: 0.3rem 0 0 2rem;
    padding: 0.3rem 1rem;
    position: relative;
}